[Unit]
Description=Kiosk Launcher
After=systemd-user-sessions.service

[Service]
User=envy
ExecStart=/usr/bin/startx /opt/kiosk.sh -- :1 vt7
Restart=always

[Install]
WantedBy=multi-user.target
